body{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.search{
    border: solid rgba(240, 240, 241, 1);
    background-color: rgba(240, 240, 241, 1);
    border-radius: 10px;
    margin-left: 45%;
    margin-right: auto;
    width: 40%;
    height: 45px;
}
.digi.logo{
    
}