body{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
*{
    box-sizing:border-box
}
.nav{
    position: relative;
}
.search{
    border: solid rgba(240, 240, 241, 1);
    background-color: rgba(240, 240, 241, 1);
    border-radius: 10px;
    margin-left: auto;
    margin-right: 18%;
    width: 40%;
    height: 45px;
}
.digi-logo{
    position: absolute;
    right: 0;
    top: 13px;
    
}
.rej{
    border:solid 1px rgb(184, 184, 184);
    border-radius: 10px;
    padding: 8px 18px;
    width: max-content;
    position: absolute;
    left: 100px;
    top: 10px;
    cursor: pointer;
}
.vl{
    height: 50px;
    border-left: 1px solid rgb(184, 184, 184);
    position: absolute;
    left: 65px;
    top: 5px;
}
.basket{
    position: absolute;
    left: 0;
    top: 5px;
    width: 40px;
}
.items{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-top: 20px;
    cursor: pointer;
}
.bold{
    font-size: larger;
}
.shahr{
    position: relative;
}
.loc{
    position: absolute;
    left: -15px;
    top: -21px;
}
.location{
    position: absolute;
    left: 115px;
    top: -56px;
    height: 84px;
    width: 25px;
}

  .slide{
    margin-top: 20px;
  }